body{
    background-color:gray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
ul{
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    margin-top:25px; /*делаем отступ сверху*/
    background: #000000;
    height: 50px;
}
.a1 {
    text-decoration: none; 
    /*убираем подчеркивание текста ссылок*/
    background:#000000; /*добавляем фон к пункту меню*/
    color:#ffffff; /*меняем цвет ссылок*/
    padding:0px 15px; /*добавляем отступ*/
    font-family: arial; /*меняем шрифт*/
    line-height:50px; /*ровняем меню по вертикали*/
    display: block; 
    border-right: 1px solid #Fff; /*добавляем бордюр справа*/
  }
  .a2{
    text-decoration: none;
    font-size: 150%;
    margin-left:200px;
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
  }
  li {
    float:left; /*Размещаем список горизонтально для реализации меню*/
    margin-right:5px; /*Добавляем отступ у пунктов меню*/  
  }
  main{
    margin-top: 100px;
  }
  .i2{
    margin-left: 100px;
    margin-top: 20px;
    box-shadow: 3px 7px 9px 2px;
  }
  .p1{
    margin-left: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
  }